<div ng-controller="blogDetailController">
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{singleBlog.name}}</h1>
                        <span class="meta">Posted by <a href="#">{{singleBlog.postedBy}}</a> on {{singleBlog.postedAt}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>{{singleBlog.detail}}</p>
                    <div class="well" ng-if="$parent.isLogin == true">
                        <h4>Leave a Comment:</h4>
                        <form role="form">
                            <div class="form-group">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="media" ng-repeat="comments in singleBlogComment">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{comments.commentedBy}}
                                    <small>{{comments.commentedAt}}</small>
                            </h4>
                            {{comments.comment}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <hr>
</div>
